In [2]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

In [7]:
geolocator = Nominatim(user_agent="concerts_app")
location = geolocator.geocode("Poppodium 013, Tilburg ")
print(location)

Poppodium 013, 44, Veemarktstraat, Tilburg Centrum, Oud-Noord, Tilburg, Noord-Brabant, Nederland, 5038 CV, Nederland

In [ ]:
def get_location(location_string):
    """
    Get location information from a sting

    Args:
        location_string (str): String with information of location

    Returns:
        Location: Location object or None if not found
    """
    geolocator = Nominatim(user_agent="concerts_app")
    location = geolocator.geocode(location_string)
    if location:
        return location.longitude, location.latitude
    else:
        return None

In [45]:
df = pd.DataFrame({
    "Venue": [
        "Poppodium 013",
        "AFAS Live",
        "Ahoy",
        "Boerderij",
        "Brabanthallen",
        "De Pul",
        "Dynamo",
        "Effenaar",
        "Goffert Park",
        "Klokgebouw",
        "Koning Boudewijn Stadion",
        "Melkweg",
        "Patronaat",
        "TivoliVredenburg",
        "Tolhuistuin",
        "Ziggo Dome"
    ],
    "City": [
        "Tilburg",
        "Amsterdam",
        "Rotterdam",
        "Zoetermeer",
        "Den Bosch",
        "Uden",
        "Eindhoven",
        "Eindhoven",
        "Nijmegen",
        "Eindhoven",
        "Brussel",
        "Amsterdam",
        "Haarlem",
        "Utrecht",
        "Amsterdam",
        "Amsterdam"
    ]
})

display(df)

                       Venue        City
0              Poppodium 013     Tilburg
1                  AFAS Live   Amsterdam
2                       Ahoy   Rotterdam
3                  Boerderij  Zoetermeer
4              Brabanthallen   Den Bosch
5                     De Pul        Uden
6                     Dynamo   Eindhoven
7                   Effenaar   Eindhoven
8               Goffert Park    Nijmegen
9                 Klokgebouw   Eindhoven
10  Koning Boudewijn Stadion     Brussel
11                   Melkweg   Amsterdam
12                 Patronaat     Haarlem
13          TivoliVredenburg     Utrecht
14               Tolhuistuin   Amsterdam
15                Ziggo Dome   Amsterdam

In [46]:
df[['Longitude', 'Latitude']] = df.apply(lambda row: get_location(row['Venue'] + ", " + row['City']), axis=1).apply(pd.Series)
display(df)

                       Venue        City  Longitude   Latitude
0              Poppodium 013     Tilburg   5.092839  51.557738
1                  AFAS Live   Amsterdam   4.944217  52.312261
2                       Ahoy   Rotterdam   4.488365  51.883296
3                  Boerderij  Zoetermeer   4.476909  52.060375
4              Brabanthallen   Den Bosch   5.290316  51.700137
5                     De Pul        Uden   5.610296  51.663236
6                     Dynamo   Eindhoven   5.480575  51.437658
7                   Effenaar   Eindhoven   5.483113  51.441716
8               Goffert Park    Nijmegen        NaN        NaN
9                 Klokgebouw   Eindhoven   5.456769  51.448760
10  Koning Boudewijn Stadion     Brussel        NaN        NaN
11                   Melkweg   Amsterdam   4.881073  52.364778
12                 Patronaat     Haarlem   4.628546  52.383000
13          TivoliVredenburg     Utrecht   5.112768  52.092454
14               Tolhuistuin   Amsterdam   4.904930  52.383707
15                Ziggo Dome   Amsterdam   4.937709  52.313753

In [47]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
Venue,Poppodium 013,AFAS Live,Ahoy,Boerderij,Brabanthallen,De Pul,Dynamo,Effenaar,Goffert Park,Klokgebouw,Koning Boudewijn Stadion,Melkweg,Patronaat,TivoliVredenburg,Tolhuistuin,Ziggo Dome
City,Tilburg,Amsterdam,Rotterdam,Zoetermeer,Den Bosch,Uden,Eindhoven,Eindhoven,Nijmegen,Eindhoven,Brussel,Amsterdam,Haarlem,Utrecht,Amsterdam,Amsterdam
Longitude,5.092839,4.944217,4.488365,4.476909,5.290316,5.610296,5.480575,5.483113,NaN,5.456769,NaN,4.881073,4.628546,5.112768,4.90493,4.937709
Latitude,51.557738,52.312261,51.883296,52.060375,51.700137,51.663236,51.437658,51.441716,NaN,51.44876,NaN,52.364778,52.383,52.092454,52.383707,52.313753